.container-fluid{
    background-color: aqua;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.hZUXNYERfzSh5KxCdLGuuwHaE0&pid=Api&P=0&w=299&h=196");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
}